[
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:cshr:1.0:User:profession",
"attributeName":"profession",
"dataType":"string",
"multiValued":"false",
"description":"The profession of the User.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:cshr:1.0:User:department",
"attributeName":"department",
"dataType":"string",
"multiValued":"false",
"description":"The department of the User.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:cshr:1.0:User:grade",
"attributeName":"grade",
"dataType":"string",
"multiValued":"false",
"description":"The grade of the User.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:cshr:1.0:User",
"attributeName":"CshrUser",
"dataType":"complex",
"multiValued":"false",
"description":"CSHR User",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"profession department grade",
"canonicalValues":[],
"referenceTypes":["external"]
}
]
